 <style>
        header {
            display: flex;
            background: rgba(42, 157, 143, 0.69);
            height: 122px;
            justify-content: space-between;
        }

        main {
            display: flex;
            flex-direction: column;
        }

        main > * {
            border: solid;
        }

        header > * {
            border: 1px solid;
            justify-content: center;
            align-items: center;
        }

        .imagemSection {
            height: 240px;
        }

        .menuBurguer {
            justify-content: center;
            text-align: center;
        }

        .produtosSection {
            display: flex;
            justify-content: space-evenly;
            padding: 20px;
            height: 450px;
        }

        .produtosCima > * {
            border: 1px solid;
            height: 150px;
            width: 150px; 
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly; 
        }

        .produtosMeio > * {
            border: 1px solid;
            height: 150px;
            width: 150px; 
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly; 
        }

        .produtosBaixo > * {
            border: 1px solid;
            height: 150px;
            width: 150px;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        
        .produtosSection > * {
            border: 1px solid;
        }

        .footerSection > * {
            border: 1px solid;
        }

        .footerSection {
            display: flex;
            justify-content: space-evenly;
        }
        
        .botaoAcessibi {
            justify-content: flex-end;
        }

    </style>
